  <div class="rankings-page">

    <div class="rankings-tab">
      <ul class="tabs">
        <li class="tab"><a href="#tab1">ユーザー投稿数ランキング</a></li>
        <li class="tab"><a href="#tab2">クリップ数ランキング</a></li>
        <li class="tab"><a href="#tab3">訪問数ランキング</a></li>
        <li class="tab"><a href="#tab4" class="active">都道府県別投稿数</a></li>
      </ul>
    </div>

    <div class="rankings-content">
      <div id="tab1">Test 1</div>
      <div id="tab2">Test 2</div>
      <div id="tab3">Test 3</div>
      <div id="tab4" class="chart-area">
         <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>

<script>
    var w = $('.chart-aera').width();
    var h = $('.chart-area').height();
    $('#myChart').attr('width', w);
    $('#myChart').attr('height', h);

    ctx = document.getElementById("myChart").getContext('2d')
    var graphprefecture = <%== @labelline %>
    var graphscore = <%== @score %>

    myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: graphprefecture,
            datasets: [{
                label: '投稿数',
                data: graphscore,
                backgroundColor: 'lightblue',
            }]
        },
        options: {
          responsive: true,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
        }
    })
</script>
