  <div class="rankings-page">

    <div class="rankings-tab">
      <ul class="tabs">
        <li class="tab"><a href="#tab1">ユーザー投稿数ランキング</a></li>
        <li class="tab"><a href="#tab2">クリップ数ランキング</a></li>
        <li class="tab"><a href="#tab3">訪問数ランキング</a></li>
        <li class="tab"><a href="#tab4" class="active">都道府県投稿数ランキング</a></li>
      </ul>
    </div>

    <div class="rankings-content">
      <div id="tab1">Test 1</div>
      <div id="tab2">Test 2</div>
      <div id="tab3">Test 3</div>
      <div id="tab4">
         <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>

<script>
    ctx = document.getElementById("myChart").getContext('2d')
    var graphprefecture = <%== @labelline %>
    var graphscore = <%== @score %>

    console.log(graphscore)
    myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: graphprefecture,
            datasets: [{
                label: '# 投稿数',
                data: graphscore,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
</script>
