<div class="clips-page">

  <% if @end_user.nickname.blank? %>
    <h4><%= @end_user.name%>さんのクリップ一覧</h4>
  <% else %>
    <h4><%= @end_user.nickname%>さんのクリップ一覧</h4>
  <% end %>
      <% if @posts.empty? %>
        <h4>クリップは0件です</h4>
      <% end %>

  <%= render partial: 'posts/post_list_item', collection: @posts, as: "post" %>
  <%= paginate @posts, class: "paginate" %>
</div>