<div class="clips-page">

    <h4><%= @end_user.nickname%>さんのクリップ一覧</h4>
      <% if @posts.empty? %>
        <h4>クリップは0件です</h4>
      <% else %>
        <%= render partial: 'posts/post_list_item', collection: @posts, as: "post" %>
        <%= paginate @posts, class: "paginate" %>
      <% end %>

</div>