
<% prefectures.each do |p| %>
  <div class="collection">
   <%= link_to prefecture_path(p), class:"btn collection-item" do %>
    <%= p.prefecture_name %>（<%= p.posts.count %>）
   <% end %>
  </div>
<% end %>
