<div class="about-page">
  <div class="about-area">
     <nav>
       <div class="nav-wrapper">
         <ul class="left">
           <li>このサイトについて</li>
         </ul>
       </div>
     </nav>
     <p>aaaaa</p>
  </div>

  <div class="complain-area">
     <nav>
       <div class="nav-wrapper">
         <ul class="left">
           <li>機能説明</li>
         </ul>
       </div>
     </nav>
     <p>aaaaa</p>
  </div>

</div>