<div class="about-page">
  <div class="about-area">
     <nav>
       <div class="nav-wrapper">
         <ul class="left">
           <li>このサイトについて</li>
         </ul>
       </div>
     </nav>
     <div class="about-content">
      <p>Flatは訪れた場所の内容を共有するサービスです。</p>
      <p>訪れた場所に、動画、写真、評価点をつけて投稿します。観光地だけではなく、どんな場所でも投稿することができます。</p>
      <p>他の人の投稿を見ることができ、行きたい場所や行った場所として登録することができます。</p>
     </div>
  </div>

  <div class="function-area">
     <nav>
       <div class="nav-wrapper">
         <ul class="left">
           <li>機能説明</li>
         </ul>
       </div>
     </nav>
     <div class="function-content clearfix">
      <h4>ホーム画面</h4>
      <%= image_tag '/images/about1.png', class: "about-image" %>
      <div class="function">
        <p>①各種ランキングページを開きます。</p>
        <p>②クリップ一覧を開きます。</p>
        <p>③訪問済み一覧を開きます。</p>
        <p>④記事投稿ページを開きます。</p>
        <p>⑤ログイン済みのユーザー名が表示されます。ユーザー名をクリックすると、マイページ、ログアウトが行えます。</p>
        <p>⑥ユーザー名、記事名で検索が行えます。</p>
        <p>⑦登録タグから検索が行なえます。</p>
        <p>⑧地方名から、都道府県、市町村名の順に検索できます。</p>
        <p></p>
        <p></p>
      </div>
      <h4>記事投稿画面</h4>
      <%= image_tag '/images/about2.png', class: "about-image" %>
      <div class="function">
        <p>①50文字までで場所の名前を入力します。（必須）</p>
        <p>②評価を1〜5までで入力します。</p>
        <p>③投稿場所に関係するタグを複数登録できます。</p>
        <p>④郵便番号をハイフン無し7桁で入力します</p>
        <p>⑤都道府県名を選択します。</p>
        <p>⑥市町村名を選択します。</p>
        <p>⑦市町村名より下の住所を入力します。</p>
        <p>⑧場所に対する紹介文を入力します。</p>
        <p>⑨場所の動画を投稿できます。（１つまで）</p>
        <p>⑩場所の写真を複数投稿できます。</p>
        <p>⑪押すと記事を投稿します。</p>
      </div>
      <h4>記事詳細画面1</h4>
      <%= image_tag '/images/about3.png', class: "about-image" %>
      <div class="function">
        <p>①記事名が表示されます。</p>
        <p>②記事を投稿したユーザー名が表示されます。</p>
        <p>③記事に登録されたタグが表示されます。</p>
        <p>④投稿された写真がスライドショーで表示されます。</p>
        <p>⑤投稿された動画が表示されます。</p>
        <p>⑥投稿者の評価点が表示されます。</p>
        <p>⑦投稿者の紹介文が表示されます。</p>
        <p>⑧クリップ数が表示されます。このアイコンを押すと、記事をクリップできます。</p>
        <p>⑨訪問された数が表示されます。このアイコンを押すと、記事を訪問済みにできます。</p>
      </div>
      <h4>記事詳細画面2</h4>
      <%= image_tag '/images/about4.png', class: "about-image" %>
      <div class="function">
        <p>①場所の住所が表示されます。</p>
        <p>②住所が地図上に表示されます。</p>
        <p>③記事に登録されたタグが表示されます。</p>
        <p>④コメントが入力できます。</p>
        <p>⑤記事へのコメントが一覧表示されます。</p>
      </div>
     </div>
  </div>

</div>