<h4>管理者メニュー</h4>

  <div class="admin-menu collection">
   <%= link_to admin_end_users_path, class:"collection-item clearfix" do %>
     <i class="material-icons">account_box</i>ユーザー一覧
   <% end %>
  </div>