<h4>管理者メニュー</h4>

  <div class="admin-menu collection">
   <%= link_to admin_end_users_path, class:"collection-item clearfix" do %>
     <i class="material-icons">account_box</i>ユーザー一覧
   <% end %>
   <%= link_to admin_posts_path, class:"collection-item clearfix" do %>
     <i class="material-icons">highlight</i>未チェック記事一覧
   <% end %>
   <%= link_to admin_inquiries_path, class:"collection-item clearfix" do %>
     <i class="material-icons">sms_failed</i>未返信問い合わせ一覧
   <% end %>
   <%= link_to admin_masters_path, class:"collection-item clearfix" do %>
     <i class="material-icons">book</i>マスター登録メニュー
   <% end %>
  </div>