<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
    </div>
</nav>

<div class="prefecture-page">
  <h4><%= @prefecture.prefecture_name%>の市町村一覧</h4>
  <br>

      <div class="municipality-area">
        <% @municipalities.each do |m| %>
            <%= link_to m.municipality_name, municipality_path(m) %>
        <% end %>
      </div>
</div>