<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
            <%= link_to @municipality.municipality_name, municipality_path(@municipality), class: "breadcrumb" %>
    </div>
</nav>

<%= @municipality.municipality_name %>の記事一覧