  <div class="nested-fields add-post-tag-area clearfix">
        <%= f.collection_select(:tag_id, Tag.all, :id, :tag_name, {prompt: "タグを選択"}, {class: "browser-default add-post-tag-select"}) %>
        <%= link_to_remove_association "タグを削除", f, class: "btn-flat btn-delete add-post-tag-delete" %>
  </div>