/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.body {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100vh;
}

.btn-flat {
  background-color: lightgray;
}
.btn-delete {
  background-color: orangered;
}
.btn-google {
  background-color: lightblue;
}
.card-image {
  width:40%;
}
.card-title a {
  color: white;
}
.tag-index-area a {
  color: white;
}
.card-stacked {
  height: 400px;
}
.card-content {
  overflow: hidden;
}
.width-max {
  width: 100%;
}

.heart-pink {
  color: pink;
}
.pagination {
  text-align: center;
}
.user-icon {
  border-radius: 50%;
}
.comment-icon {
  color: green;
}

.login-help {
  padding: 5%;
  width: 50%;
  margin: auto;
  box-shadow: 0 0  8px lightgray;
}
#end_user_remember_me {
  opacity: 100;
  position: relative;
}

//エラーメッセージ
.flash {
  color: white;
  font-size: 24px;
  width: 100%;
  text-align: left;
}
.flash-success {
  background-color: lightgreen;
}
.flash-notice {
  background-color: lightblue;
}
.flash-alert {
  background-color: red;
}
.flash-danger {
  background-color: red;
}
.flash-warning {
  background-color: orange;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }

  #sp-menu li{
    text-align: center;
    margin-bottom: 30px;
    float: none;
  }

  #sp-menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

/* ------------------------ */
/* --- ハンバーガーメニュー --- */
/* ------------------------ */
@media (max-width: 992px) {
  #hm-icon{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 20%;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 50%;
  }

  .menu-trigger span:nth-of-type(3) {
    top: 80%;
  }

  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-35deg);
    transform: translateY(12px) rotate(-35deg);
    background-color: white;
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(35deg);
    transform: translateY(-12px) rotate(35deg);
    background-color: white;
  }
}
