// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  box-shadow: 0 0  8px lightgray;
  margin-bottom: 5%;
}
.keyword-search, .tag-search {
  float: left;
  width: 50%;
  padding: 5%;
}
.map-place {
  box-shadow: 0 0 8px lightgray;
  margin: auto;
  padding: 5%;
}
.map {
  background-image: image-url("/images/map.png");
  background-size: cover;
  // (横 / 縦 * 100)
  padding-top: 92.64%;
  position: relative;
}

#prefecture-zone {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 400px;
}
#prefecture-zone .collection {
  float: left;
  width: 150px;
}
.hokkaido {
  position: absolute;
  top: 8%;
  left: 80%;
}
.tohoku {
  position: absolute;
  top: 38%;
  left: 78%;
}
.hokuriku {
  position: absolute;
  top: 48%;
  left: 60%;
}
.kanto {
  position: absolute;
  top: 63%;
  left: 78%;
}
.tyubu {
  position: absolute;
  top: 65%;
  left: 60%;
}
.kansai {
  position: absolute;
  top: 68%;
  left: 46%;
}
.tyugoku {
  position: absolute;
  top: 62%;
  left: 27%;
}
.sikoku {
  position: absolute;
  top: 80%;
  left: 28%;
}
.kyusyu {
  position: absolute;
  top: 68%;
  left: 10%;
}
.okinawa {
  position: absolute;
  top: 92%;
  left: 8%;
}
//aboutページ
.about-area {
  box-shadow: 0 0 8px lightgray;
  margin-bottom: 50px;
}
.function-area {
  width: 100%;
  box-shadow: 0 0 8px lightgray;
}
.about-image, .function {
  width: 50%;
  float: left;
  height: 700px;
  margin-bottom: 5%;
  box-shadow: 0 0 8px lightgray;
}
.function {
  padding: 5%;
}
.terms-area {
  box-shadow: 0 0 8px lightgray;
}
.terms-content {
  padding: 5%;
}

/***************/
/*レスポンシブ対応*/
/***************/

@media only screen and (min-width:640px) and (max-width:992px) {
  .search {
    box-shadow: 0 0  0 lightgray;
  }
  .keyword-search, .tag-search {
    box-shadow: 0 0 8px lightgray;
    float: none;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .about-image {
    width: 100%;
    float: none;
    height: 800px;
    margin-bottom: 0%;
  }
  .function {
    width: 100%;
    float: none;
    height: 300px;
  }
}

@media screen and (max-width:639px) {
  .search {
    box-shadow: 0 0  0 lightgray;
  }
  .keyword-search, .tag-search {
    box-shadow: 0 0 8px lightgray;
    float: none;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .about-image {
    width: 100%;
    float: none;
    height: 600px;
    margin-bottom: 0%;
  }
  .function {
    width: 100%;
    float: none;
    height: 300px;
  }
}

@media screen and (max-width:439px) {
  .about-image {
    width: 100%;
    float: none;
    height: 400px;
    margin-bottom: 0%;
  }
  .function {
    width: 100%;
    float: none;
    height: 400px;
  }
}


/*地図表示のレイアウト*/
@media only screen and (min-width:850px) and (max-width:992px) {
  .hokkaido {
    top: 8%;
    left: 79%;
  }
  .tohoku {
    top: 38%;
    left: 76%;
  }
  .hokuriku {
    top: 48%;
    left: 58%;
  }
  .kanto {
    top: 63%;
    left: 75%;
  }
  .tyubu {
    top: 70%;
    left: 60%;
  }
  .kansai {
    top: 66%;
    left: 43%;
  }
  .tyugoku {
    top: 62%;
    left: 26%;
  }
  .sikoku {
    top: 80%;
    left: 27%;
  }
  .kyusyu {
    top: 67%;
    left: 9%;
  }
  .okinawa {
    top: 92%;
    left: 7%;
  }
}

@media only screen and (min-width:740px) and (max-width:849px) {
  .hokkaido {
    top: 7%;
    left: 78%;
  }
  .tohoku {
    top: 38%;
    left: 75%;
  }
  .hokuriku {
    top: 48%;
    left: 57%;
  }
  .kanto {
    top: 61%;
    left: 74%;
  }
  .tyubu {
    top: 73%;
    left: 60%;
  }
  .kansai {
    top: 66%;
    left: 42%;
  }
  .tyugoku {
    top: 60%;
    left: 24%;
  }
  .sikoku {
    top: 79%;
    left: 25%;
  }
  .kyusyu {
    top: 67%;
    left: 5%;
  }
  .okinawa {
    top: 92%;
    left: 6%;
  }
}
@media only screen and (min-width:640px) and (max-width:739px) {
  #region-button {
    font-size: 12px;
  }
  .hokkaido {
    top: 7%;
    left: 77%;
  }
  .tohoku {
    top: 38%;
    left: 74%;
  }
  .hokuriku {
    top: 48%;
    left: 56%;
  }
  .kanto {
    top: 61%;
    left: 73%;
  }
  .tyubu {
    top: 73%;
    left: 59%;
  }
  .kansai {
    top: 66%;
    left: 41%;
  }
  .tyugoku {
    top: 60%;
    left: 23%;
  }
  .sikoku {
    top: 79%;
    left: 24%;
  }
  .kyusyu {
    top: 67%;
    left: 4%;
  }
  .okinawa {
    top: 92%;
    left: 5%;
  }
}



@media only screen and (min-width:540px) and (max-width:639px) {
  .top h4 {
    font-size: 18px;
  }
  .map-place {
    padding-bottom: 250px;
  }
  #prefecture-zone {
    position: relative;
    width: 100%;
    margin: auto;
  }
  #prefecture-zone .collection {
    float: left;
    width: 150px;
  }
  #region-button {
    font-size: 12px;
  }
  .hokkaido {
    top: 7%;
    left: 75%;
  }
  .tohoku {
    top: 36%;
    left: 73%;
  }
  .hokuriku {
    top: 48%;
    left: 55%;
  }
  .kanto {
    top: 61%;
    left: 73%;
  }
  .tyubu {
    top: 74%;
    left: 58%;
  }
  .kansai {
    top: 63%;
    left: 41%;
  }
  .tyugoku {
    top: 54%;
    left: 19%;
  }
  .sikoku {
    top: 79%;
    left: 23%;
  }
  .kyusyu {
    top: 67%;
    left: 2%;
  }
  .okinawa {
    top: 91%;
    left: 4%;
  }
}

@media only screen and (min-width:400px) and (max-width:539px) {
  .top h4 {
    font-size: 18px;
  }
  .map-place {
    padding-bottom: 250px;
  }
  #prefecture-zone {
    position: relative;
    width: 100%;
    margin: auto;
  }
  #prefecture-zone .collection {
    float: left;
    width: 150px;
  }
  #region-button {
    font-size: 11px;
  }
  .hokkaido {
    top: 4%;
    left: 68%;
  }
  .tohoku {
    top: 31%;
    left: 70%;
  }
  .hokuriku {
    top: 46%;
    left: 53%;
  }
  .kanto {
    top: 62%;
    left: 72%;
  }
  .tyubu {
    top: 79%;
    left: 59%;
  }
  .kansai {
    top: 64%;
    left: 41%;
  }
  .tyugoku {
    top: 51%;
    left: 19%;
  }
  .sikoku {
    top: 79%;
    left: 26%;
  }
  .kyusyu {
    top: 67%;
    left: 0%;
  }
  .okinawa {
    top: 90%;
    left: 0%;
  }
}

@media only screen and (max-width:399px) {
  .top h4 {
    font-size: 18px;
  }
  .map-place {
    padding-bottom: 450px;
  }
  #prefecture-zone {
    position: relative;
    width: 100%;
    margin: auto;
  }
  #prefecture-zone .collection {
    float: left;
    width: 150px;
  }
  #region-button {
    font-size: 11px;
  }
  .hokkaido {
    top: 0%;
    left: 60%;
  }
  .tohoku {
    top: 20%;
    left: 60%;
  }
  .hokuriku {
    top: 40%;
    left: 60%;
  }
  .kanto {
    top: 60%;
    left: 60%;
  }
  .tyubu {
    top: 80%;
    left: 60%;
  }
  .kansai {
    top: 0%;
    left: 10%;
  }
  .tyugoku {
    top: 20%;
    left: 10%;
  }
  .sikoku {
    top: 40%;
    left: 10%;
  }
  .kyusyu {
    top: 60%;
    left: 10%;
  }
  .okinawa {
    top: 80%;
    left: 10%;
  }
}