// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  width: 80%;
  margin: auto;
}

.map-place {
  width: 60%;
  margin: auto;
}
.map {
  background-image: image-url("map.png");
  background-size: cover;
  // (横 / 縦 * 100)
  padding-top: 92.64%;
  position: relative;
}
.region-select {
  position: absolute;
  top: 0%;
  left: 10%;
}


@media (max-width: 1000px) {
  .map-place {
    width: 100%;
  }
}

@media (max-width: 640px) {

}