// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-place {
  margin: auto;
}
.map {
  background-image: image-url("map.png");
  background-size: cover;
  // (цик / ч╕ж * 100)
  padding-top: 92.64%;
  position: relative;
}

#prefecture-zone {
  position: absolute;
  top: 0%;
  left: 0%;
}
.hokkaido {
  position: absolute;
  top: 8%;
  left: 80%;
}
.tohoku {
  position: absolute;
  top: 38%;
  left: 78%;
}
.hokuriku {
  position: absolute;
  top: 48%;
  left: 60%;
}
.kanto {
  position: absolute;
  top: 63%;
  left: 78%;
}
.tyubu {
  position: absolute;
  top: 65%;
  left: 60%;
}
.kansai {
  position: absolute;
  top: 68%;
  left: 46%;
}
.tyugoku {
  position: absolute;
  top: 62%;
  left: 27%;
}
.sikoku {
  position: absolute;
  top: 80%;
  left: 28%;
}
.kyusyu {
  position: absolute;
  top: 68%;
  left: 10%;
}
.okinawa {
  position: absolute;
  top: 93%;
  left: 8%;
}

@media (max-width: 1000px) {
  .map-place {

  }
}

@media (max-width: 640px) {

}