// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップ
#post-map {
  width: 700px;
  height: 400px;
 }

// 記事投稿
.add-post-area {
  padding: 3%;
  box-shadow: 0 0 8px lightgray;
}
.input-body {
  height: 200px;
}
.add-post-tag-area {  //タグ追加パーシャル
  width: 100%;
}
.add-post-tag-select, .add-post-tag-delete {
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;;
}
.add-post-tag-select {
  width: 40%;
  margin-right: 5%;
}
.add-post-image-area, .edit-post-image-area {
  box-shadow: 0 0 8px lightgray;
  padding: 1%;
  margin-bottom: 2%;
}
.edit-image, .edit-image-button {
  float: left;
}
.edit-image-button {
  margin-left: 5%;
}

//記事一覧
.post-list-item {
  width: 100%;
  box-shadow: 0 0 8px lightgray;
  margin-bottom: 30px;
}
.post-list-text {
  padding: 1%;
  width: 50%;
  float: left;
  position: relative;
}
.post-list-image, .post-list-text {
  width: 50%;
  float: left;
  position: relative;
}
.list-image {
  width: 100%;
  height: 300px;;
}
.post-list-title {
  font-size: 24px;
  position: absolute;
  left: 5%;
  top: 1%;
  color: white;
  text-decoration: underline;
}
.post-list-author {
  font-size: 16px;
  position: absolute;
  left: 60%;
  bottom: 5%;
  color: white;
  text-decoration: underline;
}
.post-list-author-name {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}
.post-list-text {
  height: 300px;
}
.post-list-text-star {
  height: 10%;
}
.post-list-text-body {
  height: 80%;
}
.post-list-text-evaluate {
  height: 10%;
  font-size: 20px;
}

//記事詳細
.post-content {
  box-shadow: 0 0 8px lightgray;
  padding-bottom: 5%;
  margin-top: 1%;
}
.post-content-title {
  font-size: 24px;
  padding-left: 1%;
}
.post-content-author {
  font-size: 16px;
  padding-right: 1%;
}
.post-content-tag {
  width: 100%;
  padding: 1%;
}
.post-content-image-area {
  height: 500px;
}
.post-content-video, .post-content-photo {
  width: 50%;
  margin: auto;
  float: left;
  padding: 1%;
}
#video-content, #photo-content {
 width: 100%;
}
.post-content-rating {
  width: 90%;
  padding: 1%;
  margin: auto;
  box-shadow: 0 0 8px lightgray;
}
.post-content-clip {
  width: 90%;
  padding: 1%;
  margin: auto;
}
.post-content-mapping {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
}
.post-content-comment {
  width: 90%;
  padding: 1%;
  margin: auto;
  box-shadow: 0 0 8px lightgray;
}
.comment-area {
  padding: 1%;
  margin-bottom: 1%;
  width: 95%;
  margin: auto;
}
.comment-area-usericon, .comment-area-username {
  padding: 1%;
  float: left;
}
.comment-area-username, .comment-area-date {
  line-height: 55px;
}
.comment-area-content {
  border-bottom: 1px solid gray;
  font-size: 20px;
  width: 97%;
}