// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップ
#post-map {
  width: 700px;
  height: 400px;
 }

// 記事投稿
.add-post-area {
  padding: 3%;
  box-shadow: 0 0 8px lightgray;
}
.input-body {
  height: 200px;
}
.add-post-tag-area {  //タグ追加パーシャル
  width: 100%;
}
.add-post-tag-select, .add-post-tag-delete {
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;;
}
.add-post-tag-select {
  width: 40%;
  margin-right: 5%;
}
.add-post-image-area, .edit-post-image-area {
  box-shadow: 0 0 8px lightgray;
  padding: 1%;
  margin-bottom: 2%;
}
.edit-image, .edit-image-button {
  float: left;
}
.edit-image-button {
  margin-left: 5%;
}

//記事一覧
.post-list-item {
  width: 100%;
  box-shadow: 0 0 8px lightgray;
  margin-bottom: 30px;
}
.post-list-text {
  padding: 1%;
  width: 50%;
  float: left;
  position: relative;
}
.post-list-image, .post-list-text {
  width: 50%;
  float: left;
  position: relative;
}
// .list-image {
//   width: 100%;
//   height: 400px;;
// }
.list-title {
  text-decoration: underline;
}
.post-list-text-star {
  height: 10%;
}
.post-list-text-body {
  height: 80%;
}
.post-list-text-evaluate {
  height: 10%;
  font-size: 20px;
}
.post-list-text-evaluate i {
  margin-left: 5%;
}
//記事詳細
.post-content {
  box-shadow: 0 0 8px lightgray;
  padding-bottom: 5%;
  margin-top: 1%;
}
.post-content-title {
  font-size: 24px;
  padding-left: 1%;
}
.post-content-author {
  font-size: 16px;
  padding-right: 1%;
}
.post-content-tag {
  width: 100%;
  padding: 1%;
}
.post-content-image-area {
  height: 700px;
}
.post-content-video, .post-content-photo {
  width: 50%;
  margin: auto;
  float: left;
  padding: 1%;
}
#video-content {
  width: 100%;
  height: 600px;
}
#photo-content {
  width: 100%;
  height: 600px;

}
.post-content-rating {
  width: 90%;
  padding: 1%;
  margin: auto;
  box-shadow: 0 0 8px lightgray;
}
.post-content-clip {
  width: 90%;
  padding: 1%;
  margin: auto;
}
.post-content-mapping {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
}
.post-content-comment {
  width: 90%;
  padding: 1%;
  margin: auto;
  box-shadow: 0 0 8px lightgray;
}
.comment-area {
  padding: 1%;
  margin-bottom: 1%;
  width: 95%;
  margin: auto;
}
.comment-area-usericon, .comment-area-username {
  padding: 1%;
  float: left;
}
.comment-area-username, .comment-area-date {
  line-height: 55px;
}
.comment-area-content {
  border-bottom: 1px solid gray;
  font-size: 20px;
  width: 97%;
}
.comment-area-delete {
  padding-top: 1%;
  padding-bottom: 2%;
}

.post-content-photo {
  position: relative;
}
.photo-comment-box {
  display: none;
  position: absolute;
  top: 0;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
}
.photo-comment-box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}




@media (max-width: 1500px) {
  #video-content, #photo-content {
    width: 100%;
    height: 400px;
  }
  .post-content-image-area {
    height: 550px;
  }
}


span.loading03, span.loading03:after {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image:
  -webkit-gradient(radial,1 center,0,1 center,1,from(#de3b0a),color-stop(0.5,#de3b0a),color-stop(0.9,transparent),to(transparent)),
  -webkit-gradient(radial,center 1,0,center 1,1,from(#de3b0a),color-stop(0.5,#de3b0a),color-stop(0.9,transparent),to(transparent)),
  -webkit-gradient(radial,19 center,0,19 center,1,from(#de3b0a),color-stop(0.5,#de3b0a),color-stop(0.9,transparent),to(transparent)),
  -webkit-gradient(radial,center 19,0,center 19,1,from(#de3b0a),color-stop(0.5,#de3b0a),color-stop(0.9,transparent),to(transparent));
  background-image:
  -webkit-radial-gradient(10% 50%, 1px 1px, #de3b0a, #de3b0a 95%, #de3b0a 95%, transparent),
  -webkit-radial-gradient(50% 10%, 1px 1px, #de3b0a, #de3b0a 95%, #de3b0a 95%, transparent),
  -webkit-radial-gradient(90% 50%, 1px 1px, #de3b0a, #de3b0a 95%, #de3b0a 95%, transparent),
  -webkit-radial-gradient(50% 90%, 1px 1px, #de3b0a, #de3b0a 95%, #de3b0a 95%, transparent);
  background-image:
  radial-gradient(1px 1px at 10% 50%, #de3b0a, #de3b0a 95%, transparent),
  radial-gradient(1px 1px at 50% 10%, #de3b0a, #de3b0a 95%, transparent),
  radial-gradient(1px 1px at 90% 50%, #de3b0a, #de3b0a 95%, transparent),
  radial-gradient(1px 1px at 50% 90%, #de3b0a, #de3b0a 95%, transparent);
}
span.loading03 {
  position: relative;
  margin: 0 10px;
  vertical-align: middle;
  -webkit-animation: animation03 2s linear infinite;
  animation: animation03 2s linear infinite;
}
span.loading03:after {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes animation03 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation03 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:539px) {
  .post-list-item {
    box-shadow: 0 0 0;
  }
}