// Place all the styles related to the prefectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.municipality-area {
  box-shadow: 0 0  8px lightgray;
  font-size: 24px;
}

.municipality-area li {
  width: 30%;
  float: left;
}

@media only screen and (min-width:640px) and (max-width:992px) {
  .municipality-area li {
    font-size: 18px;
  }
}
@media only screen and (max-width:639px) {
  .prefecture-page h4 {
    font-size: 16px;
  }
  .municipality-area li {
    width: 50%;
    font-size: 16px;
  }
}