// Place all the styles related to the prefectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.municipality-area {
  box-shadow: 0 0  8px lightgray;
  font-size: 24px;
}

.municipality-area li {
  width: 30%;
  float: left;
}
