// Place all the styles related to the rankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rankings-content {
  box-shadow: 0 0 8px lightgray;
  margin-top: 3%;
  padding: 3%;
}
.chart-area {
  width: 100%;
  height: 70%;
  min-height: 50vh;
}